@import './setting';
#app {
  font-family: 'nimbus-sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.padding-of-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.multiselect {
  &.custom-multiselect {
    .multiselect__select {
      width: 25px;
      padding: 0;
    }
    .multiselect__tags {
      border-color: $brand-secondary;
      .multiselect__single {
        margin-bottom: 6px;
        margin-top: 2px;
      }
    }
  }
}


.multiselect__option--selected.multiselect__option--highlight, .datepicker__month-day--first-day-selected, .datepicker__month-day--last-day-selected {
  background: $brand-secondary !important;
}
.multiselect__option--highlight, .datepicker__month-day--selected {
  background: $brand-primary !important;
}
.datepicker__month-day--selected {
  &:hover {
    color: white !important;
  }
}

.multiselect--disabled {
  background: none !important;
  .multiselect__current, .multiselect__select {
    background: none !important;
  }
}

.datepicker--open {
  top: 50px !important;
  border-bottom: 1px solid $light-grey !important;
  .datepicker__dummy-wrapper {
    .datepicker__dummy-input {
      color: $brand-secondary !important;
    }
  }
}
.datepicker__close-button {
  top: 70px !important;
  color: $brand-primary !important;
}
.datepicker__input {
  @media screen and (max-width: 320px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}


@import './utilities/spacing';
@import './utilities/button';


.error-message {
  color: red;
}