@import './setting';
#app {
  font-family: 'nimbus-sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.padding-of-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.multiselect {
  .multiselect__select {
    width: 25px;
    padding: 0;
  }
  .multiselect__tags {
    border-color: $brand-secondary;
    .multiselect__single {
      margin-bottom: 6px;
      margin-top: 2px;
    }
  }
  .multiselect__option--selected.multiselect__option--highlight {
    background: $brand-secondary;
  }
  .multiselect__option--highlight {
    background: $brand-primary;
  }
}

.multiselect--disabled {
  background: none !important;
  .multiselect__current, .multiselect__select {
    background: none !important;
  }
}

@import './utilities/spacing';
@import './utilities/button';
